@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    margin: 0;
}

.container {
    flex: 1;
}

button.primary {
    background-color: #3882F6;
    color: #F9FaF8;
    border: 1px solid #126af4;
    border-radius: 8px;
}

button.primary:hover, button.primary:focus, button.primary:active {
    background-color: #126af4;
}

button.secondary {
    background-color: transparent;
    color: #F9FaF8;
    border: 3px solid #F9FaF8;
    border-radius: 8px;
}

button.secondary:hover, button.secondary:focus, button.secondary:active {
    background-color: #126af4;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FaF8;
}

.header, .hero {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
}

.header, .hero {
    flex: 0;
}

.content, .quote, .call-to-action {
    flex: 1;
}

.inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo h1 {
    margin: 0;
    padding: 0;
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #F9FaF8;
}

.logo img {
    height: 75px;
}

ul.nav {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #F9FaF8;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding-bottom: 48px;
}

.hero .left-content {
    max-width: 700px;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 900;
    color: #F9FaF8;
    margin-bottom: 2rem;
}

.hero button {
    font-size: 21px;
    font-weight: 600;
    padding: 8px 16px; 
}

.hero img {
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
}

.content h1 {
    text-align: center;
    margin-bottom: 16px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.item {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    flex-basis: auto;
    max-height: 300px;
    border-radius: 8px;
}

.item .caption {
    padding: 8px 16px;
}

figure {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    min-height: 300px;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

figcaption {
    font-size: 21px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
}

.call-to-action {
    display: flex;
    align-items: center;
    min-height: 300px;
}

.call-to-action .inner {
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 32px 128px;
}

.call-to-action .left-content {
    color: #F9FaF8;
}

.call-to-action button {
    /* prevent button from stretching height to match left-content */
    align-self: center;
    font-size: 21px;
    font-weight: 600;
    padding: 8px 16px; 
    }

.call-to-action h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.footer {
    text-align: center;
    padding: 32px 16px;
}